<!DOCTYPE html>
<html lang="en">
	<body>
	<link rel="stylesheet" type="text/css" href="C:\Users\mafod\Documents\GitHub\htmlcss\Basic_HTML_and_CSS\HTML_Table.html">
	<style>
	table {
		border: 1px solid silver;
	}
	td:hover {
		background-color: yellow;
		color: black;
	}
	tr, th {
		background-color: black;
		color: cornsilk;
	}
	tr, td {
		background-color: darkgreen;
		color: white;
	}
	</style>
		<h1>Game of Thrones table</h1>
		<table style="width:100%">
			<tr>
				<th>Name</th>
				<th>Phone Number</th>
				<th>Email</th>
				<th>Notes</th>
			</tr>
			<tr>
				<td>Jon Snow</td>
				<td>5032343966</td>
				<td>winterishere@thenorth.com</td>
				<td>King of the North</td>
			</tr>
			<tr>
				<td>Daenarys Targaryen</td>
				<td>9712343966</td>
				<td>motherofdragons@ironthrone.com</td>
				<td>The mad queen</td>
			</tr>
		</table>
	</body>
</html>